[submodule "external/solarized"]
        path = external/solarized
        url = git://github.com/sellout/emacs-color-theme-solarized.git

[submodule "external/zenburn"]
        path = external/zenburn
        url = git://github.com/bbatsov/zenburn-emacs.git

[submodule "external/popwin"]
        path = external/popwin
        url = https://github.com/m2ym/popwin-el.git

[submodule "external/zencoding"]
        path = external/zencoding
        url = https://github.com/rooney/zencoding.git

[submodule "external/org"]
        path = external/org
        url = git://orgmode.org/org-mode.git

[submodule "external/js2-mode"]
        path = external/js2-mode
        url = https://github.com/mooz/js2-mode.git
[submodule "external/markdown"]
	path = external/markdown
	url = git://jblevins.org/git/markdown-mode.git
[submodule "external/mc"]
	path = external/mc
	url = git@github.com:emacsmirror/multiple-cursors.git
